.about {
position: relative;

  .imagecontainer {
    max-width: 600px;
    align-items: center;
    display: flex;
    flex: 1;
    height: auto;

    img {
      height: auto;
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      border-radius: 10px;
      margin-top: 35px;
      margin-left: 30px;
    }
  }
  .textcontainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;

    h1 {
      position: absolute;
      top: 20px;
      left: 35%;
      font-size: 72px;
      margin : 0;
    }

    p {
      color: black;
      font-size: 20px;
      margin: 0;
      background-color: lightblue;
      border-radius: 4px;
      position: absolute;
      top: 100px;
      left: 35%;
      width: 70%;
      max-width: 1000px;
      font-weight: bold;
    }
  }

  
}

.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  position: absolute;
  top: 1500px;
  left: 30%;
  width: 50%;
}

.experience__container > div {
  background: lightblue;
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  width: 650px;
  width: auto;
}

.experience__container > div:hover {
  background: transparent;
  border-color: white;
  cursor: default;
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}
